.nav {
    max-width: 280px;
    width: 280px;
    position: relative;
}

.list {
    position: absolute;
    width: 280px;
    list-style: none;
    background: #fff;
    transition: .3s ease width;
}

.list li s h2 {
    transition: 1s ease display;
}

.hidden {
    z-index: 5;
    position: absolute;
}

.hidden, .hidden ul, .hidden ul li {
    width: 46px;
}

.hidden ul li a {
    margin-left: 9px;
    padding: 10px 0;
    width: 46px;
    height: 46px;
    display: flex;
    background: transparent;
}

.hidden ul li a > div {
    margin-right: 0;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    padding: 10px;
    box-sizing: border-box;
}

.hidden ul li a h2 {
    color: transparent;
    position: absolute;
}

.horeved {
    width: 140px;
    position: absolute;
}

.horeved ul {
    box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.05);
}

.horeved ul li a h2 {
    color: #000;
    transition: 1s ease color;
}