.header {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header img {
    margin-right: 8px;
}

.title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(0, 0, 0, .7);
}

.menu {
    margin-right: 8px;
}