.button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: lightsteelblue;
    color: #fff;
    border: none;
    /* max-width: 128px; */

    font-size: 14px;
    line-height: 17px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 8px 12px;
    border-radius: 4px;
    /* box-sizing: border-box; */
}
