.item {
    display: flex;
}

.title {

    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.link {
    display: flex;
    align-items: center;

    box-sizing: border-box;

    width: 100%;

    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;

    padding: 12px 40px 12px 24px;

    text-decoration: none;
    color: #000;
}

.link:hover {
    background-color: #f1f3f4;
}

.active, .active:hover, .active div, .active:hover div {
    background-color: #feefc3;
}