.item {
    width: 100%;

    box-sizing: border-box;
    cursor: pointer;
}

.link {
    display: block;
    width: 100%;
    padding: 16px;

    box-sizing: border-box;
    color: transparent;

    text-decoration: none;
}

.active, .active:hover {
    background-color: rgba(217, 217, 217, 0.35);
}
