.item {
    width: 100%;

    box-sizing: border-box;
    cursor: pointer;
}

.link {
    display: block;
    width: 100%;
    padding: 16px;

    box-sizing: border-box;
    color: transparent;

    text-decoration: none;
}

.link:hover {
    background-color: #ffebb0;
}

.active, .active:hover {
    background-color: #ffcc54;
    opacity: .7;
}
