.form {
    width: 50%;
    min-width: 342px;

    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .3) 0px 3px 8px;
    padding: 8px 16px;
    box-sizing: border-box;

    position: relative;
}

.title, .text {
    width: 100%;
    border: none;
}

.title {
    margin-bottom: 20px;
}

.title::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.text {
    resize: none;
}

.text::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
}

.textAreaHidden {
    display: none;
}

.titleHidden {
    margin-bottom: 0;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
}