.bar {
    position: relative;
    flex-grow: 3;
    /* background: lime; */
}

.search {
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, .05);
    border-radius: 8px;

    padding: 16px;
    padding-left: 48px;

    width: 100%;
}

.button {
    position: absolute;
    top: 0;
    left: 8px;
}

.focused {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgba(0, 0, 0, .7);
}